//
    Collective Intelligence main index page
    @author Una Ada <una@phene.co>

doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="en", lang="en")
head
    title Creative Intelligence

    link(rel="stylesheet", href="assets/css/main.css")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
        
    script(src="/scripts/client.js")
    script(src="/scripts/handlebars.js")
    script(src="/scripts/page.js")
    
    // Handlebars Templates
    

body
    
