<p>Account: </p>
<p id="account_name"></p>
<table>
    <tr>
        <th>Currency</th>
        <th>Currently Owned</th>
        <th>Awating payout</th>
    </tr>
    <tr>
        <td>Steem</td>
        <td id="steem_owned"></td>
        <td id="steem_owed"></td>
    </tr>
    <tr>
        <td>Steem Backed Dollars</td>
        <td id="sbd_owned"></td>
        <td id="sbd_owed"></td>
    </tr>
    <tr>
        <td>Steem Power</td>
        <td id="steemp_have"></td>
        <td id="steemp_owed"></td>
    </tr>
    <tr>
        <td>Gold</td>
        <td id="gold_owned"></td>
        <td id="gold_owed"></td>
    </tr>
</table>
