<table>
<tr>
    <th>Currency</th>
    <th>Currently Owned</th>
    <th>Currently Delegated</th>
    <th>Expected Payout</th>
    <th> Rate </th>
</tr>
<tr>
    <td>Steem Power</td>
    <td id="steemp_have"></td>
    <td id="steemp_delagated"></td>
    <td id="expected_payout"></td>
    <td id="steem_delagation_rate"></td>
</table>
