<div
    class="card module shop"
    id="module-{{id}}"
    onmousedown="_ci.ui.moduleDrag.mouseDown(event)"
    moduleid="{{id}}"
>
    <div class="module__content">
        <form class="shop__form">
            <select name="token" onchange="_ci.s.ui.select(this)">
                <option value="token-upvote-perm">Buying Upvote Tokens</option>
                <option value="adp_tok">Buying Post Tokens</option>
                <option value="ad-token-perm">Buying Ad Tokens</option>
            </select>
            <div class="shop__token">
                <div class="material-icons shop__token-icon">thumb_up</div>
            </div>
            <input type="number" name="amount" min="1" value="1936"/><br>
            <div style="clear: both"></div>
            Account:
            <input type="text" name="account"/><br>
            Key:
            <input type="password" name="key"/><br>
            <input type="submit">
        </form>
    </div>
</div>
