<div
    class="card module shop"
    id="module-{{id}}"
    onmousedown="_ci.ui.moduleDrag.mouseDown(event)"
    moduleid="{{id}}"
>
    <div class="module__content">
        <form class="shop__form">
            <select name="token" onchange="_ci.s.ui.select(this)">
                <option value="token-upvote-perm">Buying Upvote Tokens</option>
                <option value="adp_tok">Buying Post Tokens</option>
                <option value="ad-token-perm">Buying Ad Tokens</option>
            </select>
            <div class="shop__token">
                <div class="material-icons shop__token-icon">thumb_up</div>
            </div>
            <input type="number" name="amount" min="1" value="1"/><br>
            <div style="clear: both"></div>
            <table>
                <tr>
                    <td>
                        <div class="material-icons shop__form-account-icon">account_circle</div>
                    </td>
                    <td>
                        Account:
                        <input type="text" name="account" placeholder="Account Name"/><br>
                        Key:
                        <input type="password" name="key" placeholder="Key"/><br>
                    </td>
                    <td>
                        <input class="button shop__form-submit" type="submit" value="Buy">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
