<div
    class="card module tokens"
    id="module-{{id}}"
    onmousedown="_ci.ui.moduleDrag.mouseDown(event)"
    moduleid="{{id}}"
>
    <div class="module__content">
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">thumb_up</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-upvote">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Upvote Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">add_comment</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-post">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Post Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">visibility</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-ad">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Ad Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
